.add-video-form {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-top: 70px;
  margin-bottom: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.add-video-form h2 {
  margin: 0 0 10px;
}

.add-video-form label {
  display: block;
  margin-bottom: 5px;
}

.add-video-form input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.add-video-form button {
  background-color: black;
  color: orange;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.add-video-form button[type="submit"] {
  background-color: orange;
  color: white;
}

@media screen and (max-width: 768px) {
  .add-video-form {
    margin-bottom: 10px;
  }
}
