.App {
  text-align: center;
}
h1{
  background-color: blueviolet;
  color: white;
  font-weight: 3rem;
  height: 90px;
}
span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: grid;
  grid-template-rows : auto, auto, auto;

}
h2{
  font-size: medium;
  border-bottom-style:groove black;
  margin-top: 20px;
  text-align: center;

}
#clickButton {
  width: 480px;
  margin-left : 0px;
}

#firstButton{
  font-family: 'Times New Roman', Times, serif;
  border-radius: rem;
  padding-inline-start: 10px;
  margin: 8px;
  width: 80px;
  cursor: pointer ;

}
#button:hover {
 color:  red;
  
} .the-button {
  margin-left: 20px;
width: 400px;
display: grid;
  grid-template-rows :  auto ;
}
.firstP {
  margin-top: 5px;
}
.Asending button{
  margin: 5px;
}
#h4-1{
  width: 150px;
  display: flex;
  justify-content: center;
  margin-left: 120px;
  margin-bottom: 9px;
}