.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #55BCC9;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #97CAEF;
  height: 40px;
  margin-top: 10px;
}
.orderBtn{
  display: flex;
  background-color: transparent;
  margin: 5px;
  font-weight: bold;
  
}
.orderBtn p{
  background-color: transparent;
  color: #FC4445;
}
.orderBtn button{
  background-color:  transparent;
  border-radius: 5px;
  border-style: none;
  color:black;
  height: 20px;
  text-align: center;
  font-weight: bold;
}
.orderBtn button:active {
  color: aliceblue;
}
.main{
  width: 800px;
}
div{
  background-color: #55BCC9;
}
p{
  background-color: #55BCC9;
  color: black;
}
button{
  background-color:  #FC4445;
  border-radius: 5px;
  border-style: none;
  color:aliceblue ;
}
iframe{
  border-radius: 5px;
  height: 100%;
}

.formDiv {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 100vh; 
  height: 30vh; 
}


.input-group {
  display: flex;
  justify-content: center;
  margin: 10px;
background-color: #3FEEE6;
}

#url.lineInput{
 margin-left: 10px;
 background-color:#3FEEE6;                 
 border: none;
 border-bottom: 1px solid #FC4445; 
 outline: none;
 padding: 5px;
}
#title.lineInput{
 margin-left: 10px;
 background-color:#3FEEE6 ;                 
 border: none;
 border-bottom: 1px solid #FC4445; 
 outline: none;
 padding: 5px;

}

.input-group label {
  margin-bottom: 5px;
  color: #FC4445;
  font-weight: bold ;
  
}
.addCancelBtn{
  display: flex;
  justify-content: space-between;
}
.addCancelBtn button{
  margin: 20px;
}
.showVideo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
.btnShowVideo{
  margin: 10px;
  border-radius: 5px;
}
.mainShowVideos{
  display: grid;
  width: 100 vh;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
}
.thumbBtn{
  background-color: transparent;
  border: none;
}