.App {
  text-align: center;
}
h2 {
  margin-top: 2em;
}
.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 2em;
  padding: 2em;
}

.video-card {
  border: 1px solid #ccc;
  padding: 10px;
}

.video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.video-content iframe {
  width: 350px;
  height: 200px;
}
