.home-carousel-wrapper {
    background-color: #171519;
    padding: 40px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-carousel{
    padding: 35px 0 35px 20px;
}

.home-carousel-title {
    position: relative;
    padding: 0 0 10px 25px;
    text-align: center;
    color: white;
}
  
.home-carousel-title::after {
    content: "";
    display: block;
    border-bottom: 1px solid #fcd277;
    width: 40%; 
    position: absolute;
    bottom: 0;
    left: 33%; 
}

@media only screen and (min-width: 375px) {
    .home-carousel-title::after {
        content: "";
        display: block;
        border-bottom: 1px solid #fcd277;
        width: 10%; 
        position: absolute;
        bottom: 0;
        left: 46%; 
    }  
}

.home-carousel-iframe {
    display: block;
    width: 280px;
    border-radius: 10px;
}

@media only screen and (min-width: 375px) {
    .home-carousel-iframe {
        display: block;
        width: 380px;
        border-radius: 10px;
    }
}
