html,
body {
	margin: 0;
	background-color: #dee2ff;
}

h1 {
	text-align: center;
}

.list-videos {
	display: grid;
	grid-template-columns: 32% 32% 32%;
	gap: 10px;
}

.list-videos li {
	border: 1px solid black;
	list-style-type: none;
	border-radius: 20px;
	background-color: #eaeaea;
	padding: 20px;
}

.video-title {
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 1.5rem;
	color: white;
	margin-bottom: 10px;
	padding: 10px 20px;
	font-weight: bold;
	background-color: #4d9fcc;
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.video-title:hover {
	background-color: #1a71a0;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.youtube-frame {
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 10px;
}
.delete-video,
.voting {
	display: block;
	text-align: center;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 10px 20px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
}
.delete-video button,
.voting button {
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #dee2ff;
	font-size: 1.5rem;
	border: none;
}
.delete-video button:hover {
	background-color: #a9b1f1;
}
.voting {
	display: flex;
	gap: 6px;
	justify-content: center;
}
