/* CSS for NewVideoForm component */
div {
	max-width: fit-content;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #f9f9f9;
}

h2 {
	text-align: center;
	color: #333;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

div > div {
	flex-grow: 1; /* Allow elements to grow equally to fit the container */
}

label {
	font-weight: bold;
	margin-bottom: 5px;
	color: #555;
}

input {
	width: 100%; /* Make inputs fill the available space */
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

button {
	width: 100%; /* Make button fill the available space */
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #0056b3;
}
