html {
    margin: 0;
    padding: 0;
}

#videos {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    margin: 0;
    padding: 1em
}

.video {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    background-color: #faebd7;
    transition: background-color 1s, border-radius 1s
}

li>button{
    margin-top: .5rem;
    height: 2rem;
}

#like-holder{
    font-size: 2rem;
}


#heart-icon{
    
    color: red;
}



.vote-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.vote-button {
    font-size: 40px;
    /* Adjust size as needed */
    margin: 0 10px;
    /* Adjust spacing as needed */
    cursor: pointer;
    /* Makes the cursor a pointer on hover */
    color: rgb(0, 4, 67);
}

.vote-button:hover {
    color: #0050a6;
    /* Change color on hover if desired */
}