/*
 Torn left edge banner

 License: GPL 3.0
 License URL: https://www.gnu.org/licenses/gpl-3.0.en.html

 Structure:
 <div class="torn_container torn_left torn_right">
	<div></div>
	<div>Torn Edge Banner</div>
 </div>
*/

body{
	/* Settings */
	--torn-shadow-offset-x:-2px;
	--torn-shadow-offset-y:2px;
	--torn-shadow-background-color:rgba(0,0,0,0.25);
	--torn-background-color:#ececec;
	--torn-left-width:12px;
	--torn-right-width:12px;
	--torn-left-clip-path:polygon(1% 0%, 97% 3%, 71% 6%, 3% 9%, 51% 12%, 76% 15%, 90% 18%, 37% 21%, 46% 24%, 99% 26%, 18% 29%, 89% 32%, 78% 35%, 97% 38%, 74% 41%, 78% 44%, 80% 47%, 80% 50%, 78% 53%, 93% 56%, 91% 59%, 51% 62%, 2% 65%, 15% 68%, 93% 71%, 71% 74%, 40% 76%, 55% 79%, 30% 82%, 22% 85%, 55% 88%, 87% 91%, 29% 94%, 60% 97%, 15% 100%, calc(100% + 1px) 100%, calc(100% + 1px) 0%);
	--torn-right-clip-path:polygon(92% 0%, 78% 3%, 1% 6%, 91% 9%, 94% 12%, 56% 15%, 22% 18%, 34% 21%, 58% 24%, 67% 26%, 13% 29%, 91% 32%, 38% 35%, 65% 38%, 10% 41%, 78% 44%, 9% 47%, 75% 50%, 91% 53%, 96% 56%, 40% 59%, 40% 62%, 38% 65%, 51% 68%, 25% 71%, 18% 74%, 39% 76%, 5% 79%, 12% 82%, 48% 85%, 13% 88%, 45% 91%, 82% 94%, 52% 97%, 59% 100%, -10% 100%, -10% 0%);
}

.torn_container{
	float:left;
	clear:both;
	margin-bottom:1.2em;
	position:absolute;
}
.torn_container>div:first-child{
	margin-left:var(--torn-shadow-offset-x);
	margin-top:var(--torn-shadow-offset-y);
	left:0px;
	top:0px;
	right:calc(0px - var(--torn-shadow-offset-x));
	bottom:calc(0px - var(--torn-shadow-offset-y));
	position:absolute;
	z-index:1;
	filter:blur(var(--torn-shadow-blur));
}
.torn_container>div:nth-child(2), .torn_container>div:nth-child(2)>span{
	vertical-align:middle;
}
.torn_container>div:nth-child(2), .torn_left>div:nth-child(2):before, .torn_right>div:nth-child(2):after{
	background-color:var(--torn-background-color);
}
.torn_container>div:nth-child(2), .torn_container>div:nth-child(2){
	/* display:inline-block; */
	position:relative;
	z-index:2;
	padding:0.4em;
}
.torn_left>div:nth-child(2):before, .torn_left>div:first-child:before{
	content:'';
	position:absolute;
	left:calc(0em - var(--torn-left-width));
	top:0px;
	width:var(--torn-left-width);
	bottom:0px;
	-webkit-clip-path:var(--torn-left-clip-path);
	clip-path:var(--torn-left-clip-path);
}
.torn_container>div:first-child, .torn_left>div:first-child:before, .torn_right>div:first-child:after{
	background-color:var(--torn-shadow-background-color);
}
.torn_right>div:nth-child(2):after, .torn_right>div:first-child:after{
	content:'';
	position:absolute;
	left:100%;
	top:0px;
	right:calc(0px - var(--torn-right-width));
	bottom:0px;
	-webkit-clip-path:var(--torn-right-clip-path);
	clip-path:var(--torn-right-clip-path);
}
.torn_right>div:nth-child(2):after{
	left:calc(100% - 0.5px);
}