.allCardsContainer {
  margin: 2% 10%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 31%;
  align-items: flex-start;
  margin-bottom: 1em;
}
.cardContainer iframe {
  border-radius: 10px;
  width: 100%;
}
.cardContainer h6 {
  font-weight: bolder;
  color: #0f0f0f;
}
.cardContainer p {
  color: #606060;
  font-size: 14px;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
}
/* delete btn */
button {
  padding: 0;
  border: none;
  background: none;
  background-color: none;
  /* width: 100%; */
  text-align: start;
  /* border-radius: 10px; */

  /* border-bottom-color: red; */
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); */
  background: none;
  color: Red;
  /* font-weight: bold; */
  font-size: small;
}
/* end of delete btn*/
