.video-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.video {
	width: calc(50% - 20px); /* Adjust width of each video */
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow: hidden; /* Ensure video containers don't overflow */
	background-color: #f9f9f9;
	font-family: Arial, sans-serif;
}

.video iframe {
	width: 100%;
	height: 200px; /* Adjust height of each video */
	border: none;
}

a {
	display: block;
	padding: 20px;
	color: #007bff;
	font-family: Arial, sans-serif;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
