client/node_modules/.cache/.eslintcache
client/node_modules/.cache/default-development/index.pack
node_modules
client/node_modules/.cache/default-development/index.pack
client/node_modules/.cache/.eslintcache
