.card {
    margin: 0px;
    color: snow;
    background-color: rgba(0, 0, 0, 0.292);
}

.container {
    margin-top: 200px;
    margin-right: 90px;
}

.video-div {
    text-align: center;
    color: snow;
    margin-bottom: 70px;
}