{
	"extends": ["plugin:n/recommended"],
	"ignorePatterns": ["/static/"],
	"overrides": [
		{
			"files": ["*.test.js"],
			"extends": ["plugin:jest/recommended"],
			"rules": {
				"jest/expect-expect": [
					"error",
					{ "assertFunctionNames": ["expect", "request.**.expect"] }
				],
				"n/no-unpublished-import": "off"
			}
		}
	],
	"rules": {
	},
    "parserOptions": {
        "sourceType": "module"
    }
}
