.add-video-form {
  background-color: #f6f6fe;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.add-video-form h2 {
  color: purple;
  font-size: 18px;
  margin-bottom: 10px;
}

.add-video-form .form-group {
  margin-bottom: 10px;
}

.add-video-form label {
  display: block;
  font-weight: bold;
  color: #ff7597;
}

.add-video-form input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.add-video-form button {
  background-color: purple;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.add-video-form button:hover {
  background-color: #9e00a3;
}