@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Hind Siliguri", sans-serif;
  background-image: linear-gradient(
    43deg,
    #d0419c 0%,
    #50c860 46%,
    #7081ff 100%,
    black
    
  );
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

@media only screen and (max-width: 789px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/*Card CSS */
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 33%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.vid-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 790px) {
  .vid-title {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 789px) {
  .card {
    width: 70%;
  }

  .vid-title {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    width: 75%;
  }

  .vid-title {
    font-size: 1rem;
  }
}

/* Header CSS*/
.header {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    50deg,
    #5e0f41 0%,
    #0f3514 46%,
    #0b1b93 100%,
    rgb(87, 84, 19)
    
  );

  justify-content: space-between;
  padding: 20px;
}

.logo {
  height: 75px;
  object-fit: contain;
  margin-left: 20px;
  animation-delay: 2ms;
  transform: rotateX(150deg);
  
}

.header__left {
  align-items: center;
  
}

.header__center {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid #777;
}

.header__center > input {
  flex: 1;
  border: 0;
}

.searchIcon {
  border-left: 1px solid #777;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media only screen and (max-width: 550px) {
  .header {
    justify-content: center;
    flex-direction: column;
  }

  .header__left {
    margin-bottom: 2rem;
  }
  .header__center {
    width: 80%;
  }

  .header__right {
    margin-top: 2rem;
  }

  .searchIcon {
    display: none;
  }
}

/* Likes CSS*/
.rating {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #777;
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 1px;
}

.add-container {
  display: flex;
  flex-direction: column;
}

.icon {
  cursor: pointer;
  /* box-shadow: 4px 10px 10px 0px rgba(0, 0, 0, 0.24); */
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.4));
  border-radius: 20px;
  transition: 0.2s all;
}

.icon:active {
  transform: scale(0.98);

  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
/*ADD CSS */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #777;
  padding: 2rem;
  gap: 0.75rem;
}

input {
  padding: 5px;
}

.add-btn {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.1);
  cursor: pointer;
}

.add-icon {
  cursor: pointer;
  border-radius: 20px;
  /* box-shadow: 1px 5px 5px rgba(68, 68, 68, 0.5); */
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.3));
  outline: none;
}

.add-icon:active {
  transform: scale(0.98);

  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

@media only screen and (max-width: 789px) {
  .add-btn {
    padding: 2rem;
  }
}

/*Footer CSS */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 2rem;
  background-color: #000;
  color: #fff;
}

.foot-logo {
  height: 50px;
  margin: 2rem;
}

