.home-div {
    color: snow;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-div {
    margin: 30px;
    margin-left: 227px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.search-input {
    width: 300px;
}

.vid-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-left: 220px;
}