.sortBtn{
    padding: 20px;
    margin-left: 20px;
      background-color: #1E5917;
      border-radius: 10px;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.7s ease-in;
      color: #ffffff;

}

.sortBtn:hover{
    background-color: rgb(125, 201, 11);
    color: black;
  }
  