.header {
    margin-top: -46px;
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #1e1e20;
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    padding-bottom: 5px;
    box-shadow: 0px 2px 7px rgb(255, 0, 0);
    border-radius: 2px;
    color: white;
    z-index: 100;
    padding: 15px;
  }
 
  @media (max-width: 1000px) {
    .header {
      padding-top: 10px;
      font-size: 6.4vw;
    }
  }
  
   /* .background {
    background-image: url(./client/src/components/Header/background.jpg)
  }
    */