.add-video-form {
    width: 50vw;
    margin: 0 auto;
  }
  
  .form-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  input[type="text"] {
    margin: 1rem;
    width: 30%;
    height: 30px;
  }
  
  .btn {
    width: 100px;
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem;
    margin: 0 1rem;
  }
  
  .add-video-btn {
    background-color: green;
    border: 1px solid green;
  }
  
  .cancel-btn {
    background-color: red;
    border: 1px solid red;
  }