/* ----video form ---- */
.add_video_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2px;
  background-color: #393e46;
}

.add_video_form input{
    border-radius: 14px;
    background-color: rgb(219, 240, 233);
    width:50%;
}
.add_video_form button{
     border-radius: 14px;
     background-color: black;
     border: 2px solid red;
     color:rgb(219, 240, 233);
}