.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 33%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.vid-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 790px) {
  .vid-title {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 789px) {
  .card {
    width: 70%;
  }

  .vid-title {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    width: 75%;
  }

  .vid-title {
    font-size: 1rem;
  }
}
