.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 33%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.vid-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.rating {
  margin-top: 1rem;
}

.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #777;
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 1px;
}

.icon {
  cursor: pointer;
}

/* .counter-color-pos {
  color: rgb(0, 248, 54);
}

.counter-color-neg {
  color: red;
} */
