.cards{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.no-video{
    color: white;
    font-size: 40px;
}

.loading{
    color: white;
    font-size: 40px;
}