.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 2rem;
  background-color: #000;
  color: #fff;
}

.foot-logo {
  height: 70px;
  margin: 1rem;
}
