.form{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input{
  padding: 5px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}

label {
    font-weight: bold;
    width: 60px;
  
  }
  