/* ---- Header--- */

/* 
.app-header h1 {
  border-bottom: 4mm ridge rgba(219, 40, 40, 0.6);
}
@media screen and (width > 400px) {  
  .app-header h1 {
    border-bottom: 0.75rem solid;
    width: 100%;
  }
} */
