.votes {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.counter{

    font-weight: bold;
    color: rgb(124, 122, 122);
    margin:30px;
}

.like-button{
    background-color: rgb(243, 88, 178);
    color: rgb(248, 242, 246);
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    border-color: white;
    margin:20px;
}

.dislike-button{
    background-color: rgb(84, 114, 235);
    color: rgb(248, 242, 246);
    padding: 7px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    border-color: white;
    margin:20px;
}