.video-card {
    text-align: center;
    box-shadow: 1px 4px 18px -1px rgba(0, 0, 0, 0.4);
    padding: 1rem;
  }
  
  .votes-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .voted {
    color: blue;
  }
  
  .thumb-icon {
    cursor: pointer;
  }
  
  .delete-video-btn {
    background-color: red;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    width: 30%;
    padding: 0.5rem;
    margin: 0.8rem;
    border: 1px solid red;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .iframe-container {
    margin: 2rem auto;
  }