.Add-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.input {
  width: 160px;
  padding: 0.2rem;
}
.btn {
  margin-bottom: 0.6rem;
}
.btn-add {
  width: 5rem;
  padding: 0.5rem;
}
.input {
  padding: 0.2rem;
}
