.Add-video{
  background-color: rgba(202, 195, 202, 0.856);
  color: rgb(40, 40, 38);
  padding: 2rem;
  
}

.Add-form{
  display: block;
}
/* .buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
} */