* {
  box-sizing: border-box;
}

.videos {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5rem;
  padding: 1rem;
  margin: 2rem auto;
}

@media only screen and (max-width: 600px) {
  .videos {
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 100%; */
    padding: 0;
    margin: 0 auto;
  }
}
