         

.iframe-container{
  margin: 20px;
 

}
.iframe-container iframe{
  
  height: 240px;

}

.notPosted{
  display: none;
}

.posted{
  color: red;
}
.thumbes-container{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 15px;
  align-items: center;
}

.thumbs{
  width: 30px;
height: 30px;
cursor: pointer;
}

.delete{
  padding: 15px;
  width: 30%;
  border: none;
  outline: none;
 background-color: #9B1212;
  cursor: pointer;
  color: #FDEAE7;
  border-radius: 10px;
  transition:  all 3s ease-out;
}

.delete:hover{
background-color: rgb(99, 6, 6);

}

.vote{
  font-size: 1rem;
  font-weight: bold;
  width: 100%;

}

.iframe-container p{
  font-size: 1.2rem;
}