.single-vid {
    background: #300052;
    margin: 20px;
    min-width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    border-radius: 20px;
    
}

iframe {
    width: 90%;
    height: 100%;
}
p {
    font-size: 1.5rem;
    margin: 10px;
    text-transform: capitalize;
    color: #75d9eb;
}

