.btn-delete {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    color: #ffffff;
    font-size: 13px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: rgba(0, 0, 0, 0.182);
    border: none;
    cursor: pointer;
    margin: 5px;
}

.btn-delete:hover {
    background: #03f40f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f40f,
        0 0 25px #03f40f,
        0 0 50px #03f40f,
        0 0 100px #03f40f;
}

.btn-delete span {
    position: absolute;
    display: block;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.btn-delete span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
}