.add-video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
}

.add-video-container h3 {
    font-weight: 700;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    gap: 10px;
    margin: 30px;
}

.add-video-input, .add-video-button {
    padding: 7px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 10px #b39894;;
}

.add-video-input:hover, .add-video-button:hover {
    scale: 1.02;
}

.add-video-input:focus, .add-video-button:focus {
    outline: none;
}

.add-video-button {
    width: 175px;
    background-color: rgb(101, 158, 101);
    color: white;
    border: none;
}

.add-video-button:hover {
    cursor: pointer;
    scale: 1.03;
}