@import './elements/variables.css';  
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     a {
      text-decoration: none;
    }
  
 
  }

  html{
    height: 100%;

  
  body{
    height: 100%;
    background-color: #27241d;

    #root {
      font-size: 1.1rem;
      font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif, roboto;
      height: 100%;
      }

      .app-container{
        height: 100%;
      }
 
  }

}