@use 'elements/_variables.scss' as variable; 

.header {
    background-color: #16140f;
    position: fixed;     /* Fixed Sidebar (stay in place on scroll and position relative to viewport) */
    width: 100%;
    display: flex;
    font-family: "Karla";
    justify-content: space-between;
    align-items: center;
    text-align:center;
    padding:1rem;
    color: #FFFFFF;
    height: 75px;
    @media (min-width: 950px){
      height: 80px;
    }

    h1{
      font-size:1.6rem;
      grid-column: 2/5;
      text-align: left;
       @media (min-width: 950px) {
          margin-left: 19rem;
          font-size: 1.8rem;
          font-weight: 700;
          grid-column: 2/6;
        }
    }
    .add-btn{
      text-decoration: none;

      margin-right:1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: none;
      border-radius: 16px;
      background-color: #4B7BE5;
      color: #FFFFFF;
      font-size: 1rem;
      .icon{
         margin-top: 5px;
      }
      .text{
          margin-left: 10px;
          @media (min-width: 950px) {
            font-size: 1.06rem;
           
          }
      }
      
      @media (min-width: 950px) {
        font-size: 1.1rem;
       
      }
     
    }:hover{
      cursor:pointer;
    }
  }
    

