.header-container {
  padding: 20px;
  text-align: center;
  color: #fff;
  /* background-color: #191a1d; */
}

.header-container h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.video-container iframe {
  margin: 10px;
  border-radius: 10px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-slider .slick-list:focus {
  outline: none;
}

.slick-slider .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.slick-dots button:hover,
.slick-dots button:focus {
  opacity: 1;
}
