
.search-bar{
   width: 100%;
   padding-top: 2rem;
   background-color:  #27241d;
   margin-left: 1.2rem;
   display: flex;
   flex-direction: column;
   align-items: center;

   @media (min-width: 950px) {
     align-items: center;
   }
   @media (min-width: 1150px) {
    flex-direction: row;
     justify-content: space-between;
   }

   .options{
    @media (min-width: 750px) {
      width: 550px;
      margin: 0 2rem;
    }
    @media (min-width: 1150px) {
      width: 700px;
      margin-left:0 4rem;
    }
   .search-option-btn{
    
    align-items: center;
    border: none;
    border-radius: 24px;
    background-color: #16140f;
    padding: 5px 12px;
    color: #FFFFFF;
    font-size: 0.9rem;
    margin-bottom: 5px;
    margin-left: 5px;
    @media (min-width: 650px) {
      font-size: 1rem;
      padding: 6px 16px;
      margin-left: 10px;
      margin-bottom: 16px;

    }
   
   }
   :hover{
    background-color: #93ade5;
    color: #FFFFFF;
  }
   .active-btn{
    background-color: #4B7BE5;
    color: #FFFFFF;
   }
  }
 
   form.search-form {
     border: none;
     padding: 0;
     display: flex;
     justify-content: center;
    margin-right: 3rem;
     input {
       width: 360px;
       height: 30px;
       // box-shadow: ;
       background-color: #FFFFFF;
       color:#1B1A17;
       border: none;
       border-radius: 4px;
       display: block;
       padding: 9px 4px 9px 20px;
       margin: 1rem 0;
       margin-left:2rem;
       @media (min-width: 650px) {
        width: 500px;

      }
       @media (min-width: 950px) {
         width: 330px;
         font-size: 1.1rem;
         margin-right: 4rem;
       }
     }
   }
   p{
    color: #FFFFFF;
    font-size: 1.1;
   }
   select {
     background-color: #FFFFFF;
     border: none;
     box-shadow:#1B1A17;
     padding: 0.5em 1em;
     margin: 0;
     width: 200px;
     font-size: 0.9rem;
     cursor: inherit;
     line-height: 1;
     height: 32px;
     color: #1B1A17;
 
     select > option {
       font-size: 0.9rem;
     }
     @media (min-width: 950px) {
       width: 270px;
       height: 35px;
       font-size: 1rem;
     }
   }
 }
 