@use 'elements/_variables.scss' as variable; 

.side-bar{
    display:flex;
    flex-direction:column;
    justify-content:baseline;
    position: fixed;     /* Fixed Sidebar (stay in place on scroll and position relative to viewport) */
    width: 100%;     /* Set the width of the sidebar */
    /* z-index: 1; */     /* Stay on top of everything */
    background-color: #16140f;
    overflow-x: hidden;     /* Disable horizontal scroll */
    padding-top: 10px;
    margin-top: 75px;
    @media (min-width: 950px) {
        top: 3.4em;      /* Stay at the top */
        height: 100%;
        width: 300px;  
        margin-top: 0;
    }
    .side-icons{
        font-size: 1.25rem;
        margin-right: 3px;
        font-weight: 600;
    }

    .toggle-button{
        background-color: #7FC8A9;
        color: #FFFFFF;
        z-index:10;
        font-size: 1.2rem;
        cursor: pointer;
        width: 45px;
        display: flex;
        margin-bottom: 1rem;
        margin: 0 1rem 1rem 1rem;
            @media (min-width: 750px) {
            font-size: 1.3rem;
        
        }
            @media (min-width: 950px) {
            display: none;
            }
    }

    h2{
        color:#FFFFFF;
        display: none;
        align-items: center;
        .menu-icon{
            color: #5ec786;
            font-size: 1.5rem;
            font-weight: 700;
          }
        span{
        font-size:1.5rem;

            margin-left: 10px;

        }
        @media (min-width: 950px) {
            margin-top: 2rem;
            padding: 0 3rem;
            display: block;
        }
    }
  
    
    .nav-menu{
        padding: 1rem 2rem;
        display: none;
        text-align: left;
       
        @media (min-width: 950px) {
            display: flex;
            flex-direction: column;
            }
        .side-nav-items{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        border: none;
        border-radius: 20px;
        color: #FFFFFF;
        
       
        } :hover{
            background-color: #7FC8A9;
        }

        span{
            font-size: 1.1rem;
            margin-top: 2px;
            margin-left: 10px;
        }
        .active {
            background-color: #7FC8A9;
           
        }
        .add-video-border{
            border-top: 1px solid #42494b ;
            margin: 2rem 0;
           
        }
        
    } 
    .show-menu{
        display: block;
        z-index: 10;
    }
}
