
:root {
  --bg1: "#F9F9F9";
  --bg2: "#27241d";
  --bg3: "#222831";
  --blue: "#2c97ea";
  --green: "#11B67A";
  --green2: "#00a76a";
  --red: "#ff6f6f";
  --purple: "#84479c";
  --yellow: "#fbab19";
  --black1: "#182B49";
  --black2: "#444444";
  --text1: "#474747";
  --text2: "#FFFFFF";
  --border1: "#dddddd";
  --box_shadow:
    "rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px";
  --box_shadow2:
    "rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px";
  --box_shadow3:
    "rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px";
}
 